/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* BACKGROUND */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    background: linear-gradient(
        120deg,
         #1d2671,
        #17d2e7,
        #fc11c1
    );
    background-size: 300% 300%;
    animation: gradientFlow 12s ease infinite;
}

@keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* NAVBAR */
.navbar {
    height: 70px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.35);
    color: #fff;
}

.navbar a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.navbar a.active {
    border-bottom: 2px solid #fff;
}

/* CENTER CONTAINER */
.auth-container {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.register-card {
    width: 380px;
    background: #ffffff;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 20px 45px rgba(0,0,0,0.3);
    animation: fadeUp 0.8s ease;
}

@keyframes fadeUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.register-card h2 {
    text-align: center;
    margin-bottom: 6px;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 22px;
}

/* INPUTS */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    color: #444;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #2a5298;
    box-shadow: 0 0 6px rgba(42,82,152,0.4);
}

/* BUTTON */
.btn-primary {
    width: 100%;
    padding: 12px;
    border: none;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-primary:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(118,75,162,0.4);
}

/* SWITCH LINK */
.switch {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.switch a {
    color: #764ba2;
    font-weight: bold;
    text-decoration: none;
}
